<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<link rel="icon" href="/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>扫码支付</title>
<script src="/esay/static/js/jquery-3.5.1.min.js"></script>
<style>
html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

div {
	margin: 0px;
	padding: 0px;
}

.alert {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 200px;
	margin-left: -100px;
	z-index: 99999;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
}
</style>
</head>
<body onLoad="initdata()">
	<div id="message" class="alert"></div>
</body>
<script type="text/javascript">
	var resulturl = "[[${resulturl}]]";
	var status = "[[${status}]]";

	function initdata() {
		if (status != "50") {
			$('#message').html('<div>订单已过期</div>');
		} else {
			window.location.href = resulturl;
		}
	}
</script>

</html>
