<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yt.app.api.v1.mapper.AgentMapper">
	<!-- Base_Column_List -->
	<sql id="Base_Column_List">
		id,name,nkname,remark,balance,status,exchange,onecost,downpoint,downmerchantcount,create_by,create_time,update_by,update_time,ipaddress,tenant_id,userid,version
	</sql>
	<!-- ResultMap -->
	<resultMap id="ResultMap"
		type="com.yt.app.api.v1.entity.Agent">
	</resultMap>
	<!-- add -->
	<insert id="post" parameterType="com.yt.app.api.v1.entity.Agent">
		insert into
		agent(id,name,nkname,remark,balance,status,exchange,onecost,downpoint,create_by,create_time,update_by,update_time,ipaddress,userid)
		values
		(#{id},#{name},#{nkname},#{remark},#{balance},#{status},#{exchange},#{onecost},#{downpoint},#{create_by},#{create_time},#{update_by},#{update_time},#{ipaddress},#{userid})
	</insert>
	<!-- batchSava -->
	<insert id="batchSava" parameterType="java.util.List">
		insert into
		agent(id,name,nkname,remark,balance,status,exchange,onecost,downpoint,create_by,create_time,update_by,update_time,ipaddress,tenant_id,version)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{id},#{name},#{nkname},#{remark},#{balance},#{status},#{exchange},#{onecost},#{downpoint},#{create_by},#{create_time},#{update_by},#{update_time},#{ipaddress},#{tenant_id},#{version})
		</foreach>
	</insert>
	<!-- deleteById -->
	<delete id="delete" parameterType="java.lang.Long">
		delete from agent
		where id =
		#{id}
	</delete>
	<!-- update -->
	<update id="put" parameterType="com.yt.app.api.v1.entity.Agent">
		update agent
		<set>
			<if test="name != null">
				name= #{name},
			</if>
			<if test="nkname != null">
				nkname= #{nkname},
			</if>
			<if test="remark != null">
				remark= #{remark},
			</if>
			<if test="balance != null and balance >0">
				balance= #{balance},
			</if>
			<if test="status != null">
				status= #{status},
			</if>
			<if test="exchange != null and exchange >0">
				exchange= #{exchange},
			</if>
			<if test="onecost != null and onecost >0">
				onecost= #{onecost},
			</if>
			<if test="downpoint != null and downpoint >0">
				downpoint= #{downpoint},
			</if>
			<if test="downmerchantcount != null">
				downmerchantcount= #{downmerchantcount},
			</if>
			<if test="update_by != null">
				update_by= #{update_by},
			</if>
			<if test="update_time != null">
				update_time= #{update_time},
			</if>
			<if test="ipaddress != null">
				ipaddress= #{ipaddress},
			</if>
			<if test="version != null">
				version= #{version}+1
			</if>
		</set>
		where id = #{id} and version= #{version}
	</update>
	<!--getById -->
	<select id="get" parameterType="java.lang.Long"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from agent
		where id = #{id}
	</select>
	
	<!--getByUserId -->
	<select id="getByUserId" parameterType="java.lang.Long"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from agent
		where userid = #{userid}
	</select>
	<!-- getList -->
	<select id="list" parameterType="java.util.HashMap"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from agent
		<where>
			1=1
			<if test="name != null and name != ''">
				AND name LIKE CONCAT( '%', #{name} , '%' )
			</if>
			<if test="nkname != null and nkname != ''">
				AND nkname LIKE CONCAT( '%', #{nkname} , '%' )
			</if>
			<if test="status != null">
				and status = #{status}
			</if>
			<if test="orderBy != null and dir != null">
				order by ${orderBy} ${dir}
			</if>
			<if test="pageStart != null and pageEnd != null">
				LIMIT #{pageStart},#{pageEnd}
			</if>
		</where>
	</select>
	<!-- getMap -->
	<select id="map" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		from agent
		<where>
			1=1
			<if test="name != null and name != ''">
				and name like "%"#{name}"%"
			</if>
			<if test="orderBy != null and Dir != null">
				order by ${orderBy} ${Dir}
			</if>
			<if test="pageStart != null and pageEnd != null">
				LIMIT #{pageStart},#{pageEnd}
			</if>
		</where>
	</select>
	<!-- getCount -->
	<select id="countlist" parameterType="java.util.HashMap"
		resultType="int">
		select count(*) from agent
		<where>
			1=1
			<if test="name != null and name != ''">
				AND name LIKE CONCAT( '%', #{name} , '%' )
			</if>
			<if test="nkname != null and nkname != ''">
				AND nkname LIKE CONCAT( '%', #{nkname} , '%' )
			</if>
			<if test="status != null">
				and status = #{status}
			</if>
		</where>
	</select>
	<!-- listByArrayId -->
	<select id="listByArrayId" parameterType="java.util.HashMap"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from agent
		<where>
			1=1
			<if test="array != null and array.length > 0">
				and id in
				<foreach item="item" index="index" collection="array"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
</mapper>