<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yt.app.api.v1.mapper.AisleMapper">
	<!-- Base_Column_List -->
	<sql id="Base_Column_List">
		id,name,code,status,nikname,type,channelcount,dynamic,remark,create_by,create_time,update_by,update_time,tenant_id,version
	</sql>
	<!-- ResultMap -->
	<resultMap id="ResultMap"
		type="com.yt.app.api.v1.entity.Aisle">
	</resultMap>
	<!-- add -->
	<insert id="post" parameterType="com.yt.app.api.v1.entity.Aisle">
		insert into
		aisle(id,name,code,status,nikname,type,remark,create_by,create_time,update_by,update_time)
		values
		(#{id},#{name},#{code},#{status},#{nikname},#{type},#{remark},#{create_by},#{create_time},#{update_by},#{update_time})
	</insert>
	<!-- batchSava -->
	<insert id="batchSava" parameterType="java.util.List">
		insert into
		aisle(id,name,code,status,nikname,type,remark,create_by,create_time,update_by,update_time,tenant_id)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{id},#{name},#{code},#{status},#{nikname},#{type},#{remark},#{create_by},#{create_time},#{update_by},#{update_time},#{tenant_id})
		</foreach>
	</insert>
	<!-- deleteById -->
	<delete id="delete" parameterType="java.lang.Long">
		delete from aisle
		where id =
		#{id}
	</delete>
	<!-- update -->
	<update id="put" parameterType="com.yt.app.api.v1.entity.Aisle">
		update aisle
		<set>
			<if test="name != null">
				name= #{name},
			</if>
			<if test="code != null">
				code= #{code},
			</if>
			<if test="status != null">
				status= #{status},
			</if>
			<if test="dynamic != null">
				dynamic= #{dynamic},
			</if>
			<if test="nikname != null">
				nikname= #{nikname},
			</if>
			<if test="type != null">
				type= #{type},
			</if>
			<if test="channelcount != null">
				channelcount= #{channelcount},
			</if>
			<if test="remark != null">
				remark= #{remark},
			</if>
			<if test="update_by != null">
				update_by= #{update_by},
			</if>
			<if test="update_time != null">
				update_time= #{update_time},
			</if>
			<if test="version != null">
				version= #{version}+1
			</if>
		</set>
		where id = #{id} and version= #{version}
	</update>
	<!--getById -->
	<select id="get" parameterType="java.lang.Long"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from aisle
		where id = #{id}
	</select>
	
	<!--getByCode -->
	<select id="getByCode" parameterType="java.lang.String"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from aisle
		where code = #{code}
	</select>
	<!-- getList -->
	<select id="list" parameterType="java.util.HashMap"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from aisle
		<where>
			1=1
			<if test="name != null and name != ''">
				AND name LIKE CONCAT( '%', #{name} , '%' )
			</if>
			<if test="code != null and code != ''">
				AND code LIKE CONCAT( '%', #{code} , '%' )
			</if>
			<if test="status != null">
				and status = #{status}
			</if>
			<if test="existids != null and existids.length > 0">
				and id not in
				<foreach item="item" index="index" collection="existids"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="orderBy != null and dir!= null">
				order by ${orderBy} ${dir}
			</if>
			<if test="pageStart != null and pageEnd != null">
				LIMIT #{pageStart},#{pageEnd}
			</if>
		</where>
	</select>
	<!-- getMap -->
	<select id="map" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		from aisle
		<where>
			1=1
			<if test="name != null and name != ''">
				and name LIKE CONCAT( '%', #{name} , '%' )
			</if>
			<if test="orderBy != null and dir!= null">
				order by ${orderBy} ${dir}
			</if>
			<if test="pageStart != null and pageEnd != null">
				LIMIT #{pageStart},#{pageEnd}
			</if>
		</where>
	</select>
	<!-- getCount -->
	<select id="countlist" parameterType="java.util.HashMap"
		resultType="int">
		select count(*) from aisle
		<where>
			1=1
			<if test="name != null and name != ''">
				AND name LIKE CONCAT( '%', #{name} , '%' )
			</if>
			<if test="code != null and code != ''">
				AND code LIKE CONCAT( '%', #{code} , '%' )
			</if>
			<if test="status != null">
				and status = #{status}
			</if>
			<if test="existids != null and existids.length > 0">
				and id not in
				<foreach item="item" index="index" collection="existids"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
	<!-- listByArrayId -->
	<select id="listByArrayId" parameterType="java.util.HashMap"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from aisle
		<where>
			1=1
			<if test="array != null and array.length > 0">
				and id in
				<foreach item="item" index="index" collection="array"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
</mapper>