<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yt.app.api.v1.mapper.DeptMapper">
	<!-- Base_Column_List -->
	<sql id="Base_Column_List">
		id,tenant_id,parent_id,name,sort,leader_user_id,phone,email,status,province_name,city_name,area_name,address,remark,create_by,create_time,update_by,update_time,is_deleted,version
	</sql>
	<!-- ResultMap -->
	<resultMap id="ResultMap"
		type="com.yt.app.api.v1.entity.Dept">

	</resultMap>
	<!-- add -->
	<insert id="post" parameterType="com.yt.app.api.v1.entity.Dept">
		insert into
		t_sys_dept(id,parent_id,name,sort,leader_user_id,phone,email,status,province_name,city_name,area_name,address,remark,create_by,create_time,update_by,update_time,is_deleted)
		values
		(#{id},#{parent_id},#{name},#{sort},#{leader_user_id},#{phone},#{email},#{status},#{province_name},#{city_name},#{area_name},#{address},#{remark},#{create_by},#{create_time},#{update_by},#{update_time},#{is_deleted})
	</insert>
	<!-- batchSava -->
	<insert id="batchSava" parameterType="java.util.List">
		insert into
		t_sys_dept(id,parent_id,name,sort,leader_user_id,phone,email,status,province_name,city_name,area_name,address,remark,create_by,create_time,update_by,update_time,is_deleted)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{id},#{parent_id},#{name},#{sort},#{leader_user_id},#{phone},#{email},#{status},#{province_name},#{city_name},#{area_name},#{address},#{remark},#{create_by},#{create_time},#{update_by},#{update_time},#{is_deleted})
		</foreach>
	</insert>
	<!-- deleteById -->
	<delete id="delete" parameterType="java.lang.Long">
		delete from t_sys_dept
		where id
		= #{id}
	</delete>
	<!-- update -->
	<update id="put" parameterType="com.yt.app.api.v1.entity.Dept">
		update t_sys_dept
		<set>
			<if test="parent_id!= null">
				parent_id= #{parent_id},
			</if>
			<if test="name!= null">
				name= #{name},
			</if>
			<if test="sort!= null">
				sort= #{sort},
			</if>
			<if test="leader_user_id!= null">
				leader_user_id= #{leader_user_id},
			</if>
			<if test="phone!= null">
				phone= #{phone},
			</if>
			<if test="email!= null">
				email= #{email},
			</if>
			<if test="status!= null">
				status= #{status},
			</if>
			<if test="province_name!= null">
				province_name= #{province_name},
			</if>
			<if test="city_name!= null">
				city_name= #{city_name},
			</if>
			<if test="area_name!= null">
				area_name= #{area_name},
			</if>
			<if test="address!= null">
				address= #{address},
			</if>
			<if test="remark!= null">
				remark= #{remark},
			</if>
			<if test="update_by!= null">
				update_by= #{update_by},
			</if>
			<if test="update_time!= null">
				update_time= #{update_time},
			</if>
			<if test="is_deleted!= null">
				is_deleted= #{is_deleted},
			</if>
			<if test="version != null">
				version = #{version}+1
			</if>
		</set>
		where id = #{id} and version = #{version}
	</update>
	<!--getById -->
	<select id="get" parameterType="java.lang.Long"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from t_sys_dept
		where id = #{id}
	</select>
	<!-- getList -->
	<select id="list" parameterType="java.util.HashMap"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from t_sys_dept
		<where>
			1=1
			<if test="name != null and name != ''">
				and name like "%"#{name}"%"
			</if>
			<if test="orderBy != null and dir != null">
				order by ${orderBy} ${dir}
			</if>
			<if test="pageStart != null and pageEnd != null">
				LIMIT #{pageStart},#{pageEnd}
			</if>
		</where>
	</select>
	<!-- getMap -->
	<select id="map" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		from t_sys_dept
		<where>
			1=1
			<if test="name != null and name != ''">
				and name like "%"#{name}"%"
			</if>
			<if test="orderBy != null and dir != null">
				order by ${orderBy} ${dir}
			</if>
			<if test="pageStart != null and pageEnd != null">
				LIMIT #{pageStart},#{pageEnd}
			</if>
		</where>
	</select>
	<!-- getCount -->
	<select id="countlist" parameterType="java.util.HashMap"
		resultType="int">
		select count(*) from t_sys_dept
		<where>
			1=1
			<if test="name != null and name != ''">
				and name like "%"#{name}"%"
			</if>
		</where>
	</select>
	<!-- listByArrayId -->
	<select id="listByArrayId" parameterType="java.util.HashMap"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from t_sys_dept
		<where>
			1=1
			<if test="array != null and array.length > 0">
				and id in
				<foreach item="item" index="index" collection="array"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>

	<select id="selectDataList" parameterType="java.util.HashMap"
		resultType="com.yt.app.api.v1.vo.SysDeptTreeVO">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_sys_dept
		<where>
			is_deleted = 0
			<if test="name != null and name !=''">
				AND name LIKE CONCAT( '%', #{name} , '%' )
			</if>
			<if test="excludeDeptId != null">
				AND id != #{excludeDeptId}
			</if>
			<if test="parentId != null">
				AND parent_id = #{parentId}
			</if>
		</where>
		ORDER BY sort ASC, create_time DESC
	</select>

	<select id="selectAllUsableList"
		resultType="com.yt.app.api.v1.entity.Dept">
		select
		<include refid="Base_Column_List" />
		from t_sys_dept
		where is_deleted = 0
		and status = 1
		and expire_time >
		now()
	</select>

</mapper>