<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.yt.app.api.v1.mapper.ExchangeMerchantaccountrecordMapper">
	<!-- Base_Column_List -->
	<sql id="Base_Column_List">
		id,tenant_id,userid,merchantname,ordernum,type,pretotalincome,prewithdrawamount,pretowithdrawamount,pretoincomeamount,posttotalincome,postwithdrawamount,posttowithdrawamount,posttoincomeamount,update_time,update_by,create_time,create_by,remark,version
	</sql>
	<!-- ResultMap -->
	<resultMap id="ResultMap"
		type="com.yt.app.api.v1.entity.ExchangeMerchantaccountapplyjournal">
	</resultMap>
	<!-- add -->
	<insert id="post"
		parameterType="com.yt.app.api.v1.entity.ExchangeMerchantaccountapplyjournal">
		insert into
		exchangemerchantaccountrecord(id,userid,merchantname,ordernum,type,pretotalincome,prewithdrawamount,pretowithdrawamount,pretoincomeamount,posttotalincome,postwithdrawamount,posttowithdrawamount,posttoincomeamount,update_time,update_by,create_time,create_by,remark)
		values
		(#{id},#{userid},#{merchantname},#{ordernum},#{type},#{pretotalincome},#{prewithdrawamount},#{pretowithdrawamount},#{pretoincomeamount},#{posttotalincome},#{postwithdrawamount},#{posttowithdrawamount},#{posttoincomeamount},#{update_time},#{update_by},#{create_time},#{create_by},#{remark})
	</insert>
	<insert id="postAndTenantid"
		parameterType="com.yt.app.api.v1.entity.ExchangeMerchantaccountapplyjournal">
		insert into
		exchangemerchantaccountrecord(id,tenant_id,userid,merchantname,ordernum,type,pretotalincome,prewithdrawamount,pretowithdrawamount,pretoincomeamount,posttotalincome,postwithdrawamount,posttowithdrawamount,posttoincomeamount,update_time,update_by,create_time,create_by,remark)
		values
		(#{id},#{tenant_id},#{userid},#{merchantname},#{ordernum},#{type},#{pretotalincome},#{prewithdrawamount},#{pretowithdrawamount},#{pretoincomeamount},#{posttotalincome},#{postwithdrawamount},#{posttowithdrawamount},#{posttoincomeamount},#{update_time},#{update_by},#{create_time},#{create_by},#{remark})
	</insert>
	<!-- batchSava -->
	<insert id="batchSava" parameterType="java.util.List">
		insert into
		exchangemerchantaccountrecord(id,merchantname,ordernum,type,pretotalincome,prewithdrawamount,pretowithdrawamount,pretoincomeamount,posttotalincome,postwithdrawamount,posttowithdrawamount,posttoincomeamount,update_time,update_by,create_time,create_by,remark)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{id},#{merchantname},#{ordernum},#{type},#{pretotalincome},#{prewithdrawamount},#{pretowithdrawamount},#{pretoincomeamount},#{posttotalincome},#{postwithdrawamount},#{posttowithdrawamount},#{posttoincomeamount},#{update_time},#{update_by},#{create_time},#{create_by},#{remark})
		</foreach>
	</insert>
	<!-- deleteById -->
	<delete id="delete" parameterType="java.lang.Long">
		delete from exchangemerchantaccountrecord
		where id = #{id}
	</delete>
	<!-- update -->
	<update id="put"
		parameterType="com.yt.app.api.v1.entity.ExchangeMerchantaccountapplyjournal">
		update exchangemerchantaccountrecord
		<set>
			<if test="merchantname != null">
				merchantname= #{merchantname},
			</if>
			<if test="ordernum != null">
				ordernum= #{ordernum},
			</if>
			<if test="type != null">
				type= #{type},
			</if>
			<if test="pretotalincome != null">
				pretotalincome= #{pretotalincome},
			</if>
			<if test="prewithdrawamount != null">
				prewithdrawamount= #{prewithdrawamount},
			</if>
			<if test="pretowithdrawamount != null">
				pretowithdrawamount= #{pretowithdrawamount},
			</if>
			<if test="pretoincomeamount != null">
				pretoincomeamount= #{pretoincomeamount},
			</if>
			<if test="posttotalincome != null">
				posttotalincome= #{posttotalincome},
			</if>
			<if test="postwithdrawamount != null">
				postwithdrawamount= #{postwithdrawamount},
			</if>
			<if test="posttowithdrawamount != null">
				posttowithdrawamount= #{posttowithdrawamount},
			</if>
			<if test="posttoincomeamount != null">
				posttoincomeamount= #{posttoincomeamount},
			</if>
			<if test="update_time != null">
				update_time= #{update_time},
			</if>
			<if test="update_by != null">
				update_by= #{update_by},
			</if>
			<if test="remark != null">
				remark= #{remark},
			</if>
			<if test="version != null">
				version= #{version}+1
			</if>
		</set>
		where id = #{id} and version = #{version}
	</update>
	<!--getById -->
	<select id="get" parameterType="java.lang.Long"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from exchangemerchantaccountrecord
		where id = #{id}
	</select>
	<!-- getList -->
	<select id="list" parameterType="java.util.HashMap"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from exchangemerchantaccountrecord
		<where>
			1=1
			<if test="ordernum != null and ordernum != ''">
				and ordernum = #{ordernum}
			</if>
			<if test="type != null and type != ''">
				and type = #{type}
			</if>
			<if test="userid != null and userid != ''">
				and userid = #{userid}
			</if>
			<if test="orderBy != null and dir != null">
				order by ${orderBy} ${dir}
			</if>
			<if test="pageStart != null and pageEnd != null">
				LIMIT #{pageStart},#{pageEnd}
			</if>
		</where>
	</select>
	<!-- getMap -->
	<select id="map" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		from exchangemerchantaccountrecord
		<where>
			1=1
			<if test="name != null and name != ''">
				and name like "%"#{name}"%"
			</if>
			<if test="orderBy != null and Dir != null">
				order by ${orderBy} ${Dir}
			</if>
			<if test="pageStart != null and pageEnd != null">
				LIMIT #{pageStart},#{pageEnd}
			</if>
		</where>
	</select>
	<!-- getCount -->
	<select id="countlist" parameterType="java.util.HashMap"
		resultType="int">
		select count(*) from exchangemerchantaccountrecord
		<where>
			1=1
			<if test="ordernum != null and ordernum != ''">
				and ordernum = #{ordernum}
			</if>
			<if test="type != null and type != ''">
				and type = #{type}
			</if>
			<if test="userid != null and userid != ''">
				and userid = #{userid}
			</if>
		</where>
	</select>
	<!-- listByArrayId -->
	<select id="listByArrayId" parameterType="java.util.HashMap"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from exchangemerchantaccountrecord
		<where>
			1=1
			<if test="array != null and array.length > 0">
				and id in
				<foreach item="item" index="index" collection="array"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
</mapper>