<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yt.app.api.v1.mapper.FileMapper">
	<sql id="Base_Column_List">
		id,tenant_id,root_path,relative_path,file_type,suffix,file_size,createtime,modifytime,file_name,url,version
	</sql>
	<resultMap id="ResultMap"
		type="com.yt.app.api.v1.entity.YtFile">

	</resultMap>
	<insert id="post"
		parameterType="com.yt.app.api.v1.entity.YtFile">
		insert into t_sys_file
		(id,root_path,relative_path,file_type,suffix,file_size,createtime,modifytime,file_name,url)
		values
		(#{id},#{root_path},#{relative_path},#{file_type},#{suffix},#{file_size},#{createtime},#{modifytime},#{file_name},#{url})
	</insert>
	<delete id="delById" parameterType="java.lang.Long">
		delete from t_sys_file
		where id
		= #{id}
	</delete>
	<update id="put" parameterType="com.yt.app.api.v1.entity.YtFile">
		update t_sys_file
		<set>
			<if test="id != null">
				id = #{id},
			</if>
			<if test="root_path != null">
				root_path = #{root_path},
			</if>
			<if test="relative_path != null">
				relative_path = #{relative_path},
			</if>
			<if test="file_type != null">
				file_type = #{file_type},
			</if>
			<if test="suffix != null">
				suffix = #{suffix},
			</if>
			<if test="file_size != null">
				file_size = #{file_size},
			</if>
			<if test="modifytime != null">
				modifytime = #{modifytime},
			</if>
			<if test="file_name != null">
				file_name = #{file_name},
			</if>
			<if test="url != null">
				url = #{url},
			</if>
			<if test="version != null">
				version = #{version}+1
			</if>
		</set>
		where id = #{id}
	</update>
	<select id="get" parameterType="java.lang.Long"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from t_sys_file
		where id = #{id}
	</select>
	<select id="list" parameterType="java.util.HashMap"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from t_sys_file
		<where>
			1=1
			<if test="file_name != null and file_name != ''">
				and file_name like "%"#{file_name}"%"
			</if>
			<if test="orderBy != null and dir!= null">
				order by ${orderBy} ${dir}
			</if>
			<if test="pageStart != null and pageEnd != null">
				LIMIT #{pageStart},#{pageEnd}
			</if>
		</where>
	</select>
	<select id="map" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		from t_sys_file
		<where>
			1=1
			<if test="name != null and name != ''">
				and name LIKE CONCAT( '%', #{name} , '%' )
			</if>
			<if test="orderBy != null and dir!= null">
				order by ${orderBy} ${dir}
			</if>
			<if test="pageStart != null and pageEnd != null">
				LIMIT #{pageStart},#{pageEnd}
			</if>
		</where>
	</select>
	<select id="countlist" parameterType="java.util.HashMap"
		resultType="int">
		select count(*) from t_sys_file
		<where>
			<if test="name != null and name != ''">
				name like "%"#{name}"%"
			</if>
		</where>
	</select>
	<select id="countmap" parameterType="java.util.HashMap"
		resultType="int">
		select count(*) from t_sys_file
		<where>
			<if test="name != null and name != ''">
				name like "%"#{name}"%"
			</if>
		</where>
	</select>
	<select id="selectFile" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		from t_sys_file
		<where>
			<if test="name != null and name != ''">
				name like "%"#{name}"%"
			</if>
		</where>
	</select>
</mapper>