<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.yt.app.api.v1.mapper.MerchantstatisticalreportsMapper">
	<!-- Base_Column_List -->
	<sql id="Base_Column_List">
		id,tenant_id,userid,merchantid,todayincome,incomecount,incomeuserpaycount,incomeuserpaysuccesscount,name,balance,payoutrate,todayorder,successorder,todayorderamount,todaysuccessorderamount,dateval,create_by,create_time,update_by,update_time,remark,version
	</sql>
	<!-- ResultMap -->
	<resultMap id="ResultMap"
		type="com.yt.app.api.v1.entity.Merchantstatisticalreports">
	</resultMap>
	<!-- ResultMap -->
	<resultMap id="ResultMapVO"
		type="com.yt.app.api.v1.vo.MerchantstatisticalreportsVO">
	</resultMap>
	<!-- add -->
	<insert id="post"
		parameterType="com.yt.app.api.v1.entity.Merchantstatisticalreports">
		insert into
		merchantstatisticalreports(id,userid,merchantid,todayincome,incomecount,incomeuserpaycount,incomeuserpaysuccesscount,name,balance,payoutrate,todayorder,successorder,todayorderamount,todaysuccessorderamount,dateval,create_by,create_time,update_by,update_time,remark)
		values
		(#{id},#{userid},#{merchantid},#{todayincome},#{incomecount},#{incomeuserpaycount},#{incomeuserpaysuccesscount},#{name},#{balance},#{payoutrate},#{todayorder},#{successorder},#{todayorderamount},#{todaysuccessorderamount},#{dateval},#{create_by},#{create_time},#{update_by},#{update_time},#{remark})
	</insert>
	<!-- batchSava -->
	<insert id="batchSava" parameterType="java.util.List">
		insert into
		merchantstatisticalreports(id,tenant_id,userid,merchantid,todayincome,incomecount,balance,todayorder,successorder,todayorderamount,todaysuccessorderamount,dateval,create_by,create_time,update_by,update_time,remark)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{id},#{tenant_id},#{userid},#{merchantid},#{todayincome},#{incomecount},#{balance},#{todayorder},#{successorder},#{todayorderamount},#{todaysuccessorderamount},#{dateval},#{create_by},#{create_time},#{update_by},#{update_time},#{remark})
		</foreach>
	</insert>
	<!-- deleteById -->
	<delete id="delete" parameterType="java.lang.Long">
		delete from merchantstatisticalreports
		where id = #{id}
	</delete>
	<!-- update -->
	<update id="put"
		parameterType="com.yt.app.api.v1.entity.Merchantstatisticalreports">
		update merchantstatisticalreports
		<set>
			<if test="tenant_id != null">
				tenant_id= #{tenant_id},
			</if>
			<if test="userid != null">
				userid= #{userid},
			</if>
			<if test="merchantid != null">
				merchantid= #{merchantid},
			</if>
			<if test="todayincome != null">
				todayincome= #{todayincome},
			</if>
			<if test="incomecount != null">
				incomecount= #{incomecount},
			</if>
			<if test="balance != null">
				balance= #{balance},
			</if>
			<if test="todayorder != null">
				todayorder= #{todayorder},
			</if>
			<if test="successorder != null">
				successorder= #{successorder},
			</if>
			<if test="todayorderamount != null">
				todayorderamount= #{todayorderamount},
			</if>
			<if test="todaysuccessorderamount != null">
				todaysuccessorderamount= #{todaysuccessorderamount},
			</if>
			<if test="dateval != null">
				dateval= #{dateval},
			</if>
			<if test="create_by != null">
				create_by= #{create_by},
			</if>
			<if test="create_time != null">
				create_time= #{create_time},
			</if>
			<if test="update_by != null">
				update_by= #{update_by},
			</if>
			<if test="update_time != null">
				update_time= #{update_time},
			</if>
			<if test="remark != null">
				remark= #{remark},
			</if>
			<if test="version != null">
				version= #{version}+1
			</if>
		</set>
		where id = #{id} 
	</update>
	<!--getById -->
	<select id="get" parameterType="java.lang.Long"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from merchantstatisticalreports
		where id = #{id}
	</select>
	<!-- getList -->
	<select id="list" parameterType="java.util.HashMap"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from merchantstatisticalreports
		<where>
			1=1
			<if test="name != null and name != ''">
				and name like "%"#{name}"%"
			</if>
		</where>
	</select>
	<!-- getMap -->
	<select id="page" parameterType="java.util.HashMap"
		resultMap="ResultMapVO">
		select
		<include refid="Base_Column_List" />
		from merchantstatisticalreports
		<where>
			1=1
			<if test="userid != null and userid != ''">
				and userid = #{userid}
			</if>
			<if test="orderBy != null and dir != null">
				order by ${orderBy} ${dir}
			</if>
			<if test="pageStart != null and pageEnd != null">
				LIMIT #{pageStart},#{pageEnd}
			</if>
		</where>
	</select>
	<!-- getCount -->
	<select id="countlist" parameterType="java.util.HashMap"
		resultType="int">
		select count(*) from merchantstatisticalreports
		<where>
			1=1
			<if test="userid != null and userid != ''">
				and userid = #{userid}
			</if>
		</where>
	</select>
	<!-- listByArrayId -->
	<select id="listByArrayId" parameterType="java.util.HashMap"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from merchantstatisticalreports
		<where>
			1=1
			<if test="array != null and array.length > 0">
				and id in
				<foreach item="item" index="index" collection="array"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
</mapper>