<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.yt.app.api.v1.mapper.MerchantaccountbankMapper">
	<!-- Base_Column_List -->
	<sql id="Base_Column_List">
		id,tenant_id,userid,username,type,status,accname,accnumber,remark,version,create_by,create_time,update_by,update_time
	</sql>
	<!-- ResultMap -->
	<resultMap id="ResultMap"
		type="com.yt.app.api.v1.entity.Merchantaccountbank">
	</resultMap>
	<!-- add -->
	<insert id="post"
		parameterType="com.yt.app.api.v1.entity.Merchantaccountbank">
		insert into
		merchantaccountbank(id,userid,username,type,accname,accnumber,remark,create_by,create_time,update_by,update_time)
		values
		(#{id},#{userid},#{username},#{type},#{accname},#{accnumber},#{remark},#{create_by},#{create_time},#{update_by},#{update_time})
	</insert>
	<!-- batchSava -->
	<insert id="batchSava" parameterType="java.util.List">
		insert into
		merchantaccountbank(id,tenant_id,userid,username,type,status,accname,accnumber,remark,create_by,create_time,update_by,update_time)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{id},#{tenant_id},#{userid},#{username},#{type},#{status},#{accname},#{accnumber},#{remark},#{create_by},#{create_time},#{update_by},#{update_time})
		</foreach>
	</insert>
	<!-- deleteById -->
	<delete id="delete" parameterType="java.lang.Long">
		delete from
		merchantaccountbank
		where id = #{id}
	</delete>
	<!-- update -->
	<update id="put"
		parameterType="com.yt.app.api.v1.entity.Merchantaccountbank">
		update merchantaccountbank
		<set>
			<if test="userid != null">
				userid= #{userid},
			</if>
			<if test="username != null">
				username= #{username},
			</if>
			<if test="type != null">
				type= #{type},
			</if>
			<if test="status != null">
				status= #{status},
			</if>
			<if test="accname != null">
				accname= #{accname},
			</if>
			<if test="accnumber != null">
				accnumber= #{accnumber},
			</if>
			<if test="remark != null">
				remark= #{remark},
			</if>
			<if test="version != null">
				version= #{version}+1,
			</if>
			<if test="update_by != null">
				update_by= #{update_by},
			</if>
			<if test="update_time != null">
				update_time= #{update_time}
			</if>
		</set>
		where id = #{id} and version = #{version}
	</update>
	<!--getById -->
	<select id="get" parameterType="java.lang.Long"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from merchantaccountbank
		where id = #{id}
	</select>
	<!-- getList -->
	<select id="list" parameterType="java.util.HashMap"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from merchantaccountbank
		<where>
			1=1
			<if test="accname != null and accname != ''">
					AND accname LIKE CONCAT( '%', #{accname} , '%' )
			</if>
			<if test="userid != null">
				AND userid= #{userid}
			</if>
			<if test="orderBy != null and dir != null">
				order by ${orderBy} ${dir}
			</if>
			<if test="pageStart != null and pageEnd != null">
				LIMIT #{pageStart},#{pageEnd}
			</if>
		</where>
	</select>
	<!-- getMap -->
	<select id="map" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		from merchantaccountbank
		<where>
			1=1
			<if test="name != null and name != ''">
				and name like "%"#{name}"%"
			</if>
			<if test="orderBy != null and Dir != null">
				order by ${orderBy} ${Dir}
			</if>
			<if test="pageStart != null and pageEnd != null">
				LIMIT #{pageStart},#{pageEnd}
			</if>
		</where>
	</select>
	<!-- getCount -->
	<select id="countlist" parameterType="java.util.HashMap"
		resultType="int">
		select count(*) from merchantaccountbank
		<where>
			1=1
			<if test="accname != null and accname != ''">
				AND accname LIKE CONCAT( '%', #{accname} , '%' )
			</if>
			<if test="userid != null">
				AND userid= #{userid}
			</if>
		</where>
	</select>
	<!-- listByArrayId -->
	<select id="listByArrayId" parameterType="java.util.HashMap"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from merchantaccountbank
		<where>
			1=1
			<if test="array != null and array.length > 0">
				and id in
				<foreach item="item" index="index" collection="array"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
	
	<!-- listByArrayId -->
	<select id="listByUserid"  resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from merchantaccountbank
		<where>
			userid= #{userid}
		</where>
	</select>
	
</mapper>