<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yt.app.api.v1.mapper.PostMapper">
	<!-- Base_Column_List -->
	<sql id="Base_Column_List">
		id,tenant_id,dept_id,name,code,status,sort,remark,create_by,create_time,update_by,update_time,version
	</sql>
	<!-- ResultMap -->
	<resultMap id="ResultMap"
		type="com.yt.app.api.v1.entity.Post">

	</resultMap>
	<!-- add -->
	<insert id="post" parameterType="com.yt.app.api.v1.entity.Post">
		insert into
		t_sys_post(id,dept_id,name,code,status,sort,remark,create_by,create_time,update_by,update_time)
		values
		(#{id},#{dept_id},#{name},#{code},#{status},#{sort},#{remark},#{create_by},#{create_time},#{update_by},#{update_time})
	</insert>
	<!-- batchSava -->
	<insert id="batchSava" parameterType="java.util.List">
		insert into
		t_sys_post(id,dept_id,name,code,status,sort,remark,create_by,create_time,update_by,update_time)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{id},#{dept_id},#{name},#{code},#{status},#{sort},#{remark},#{create_by},#{create_time},#{update_by},#{update_time})
		</foreach>
	</insert>
	<!-- deleteById -->
	<delete id="delete" parameterType="java.lang.Long">
		delete from t_sys_post
		where id
		= #{id}
	</delete>
	<!-- update -->
	<update id="put" parameterType="com.yt.app.api.v1.entity.Post">
		update t_sys_post
		<set>
			<if test="dept_id!= null">
				dept_id= #{dept_id},
			</if>
			<if test="name!= null">
				name= #{name},
			</if>
			<if test="code!= null">
				code= #{code},
			</if>
			<if test="status!= null">
				status= #{status},
			</if>
			<if test="sort!= null">
				sort= #{sort},
			</if>
			<if test="remark!= null">
				remark= #{remark},
			</if>
			<if test="update_by!= null">
				update_by= #{update_by},
			</if>
			<if test="update_time!= null">
				update_time= #{update_time},
			</if>
			<if test="version != null">
				version= #{version}+1
			</if>
		</set>
		where id = #{id} 
	</update>
	<!--getById -->
	<select id="get" parameterType="java.lang.Long"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from t_sys_post
		where id = #{id}
	</select>
	<!-- getList -->
	<select id="list" parameterType="java.util.HashMap"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from t_sys_post
		<where>
			1=1
			<if test="name != null and name != ''">
				and name like "%"#{name}"%"
			</if>
			<if test="orderBy != null and dir!= null">
				order by ${orderBy} ${dir}
			</if>
			<if test="pageStart != null and pageEnd != null">
				LIMIT #{pageStart},#{pageEnd}
			</if>
		</where>
	</select>
	<!-- getMap -->
	<select id="map" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		from t_sys_post
		<where>
			1=1
			<if test="name != null and name != ''">
				and name like "%"#{name}"%"
			</if>
			<if test="orderBy != null and dir!= null">
				order by ${orderBy} ${dir}
			</if>
			<if test="pageStart != null and pageEnd != null">
				LIMIT #{pageStart},#{pageEnd}
			</if>
		</where>
	</select>
	<!-- getCount -->
	<select id="countlist" parameterType="java.util.HashMap"
		resultType="int">
		select count(*) from t_sys_post
		<where>
			1=1
			<if test="name != null and name != ''">
				and name like "%"#{name}"%"
			</if>
		</where>
	</select>
	<!-- listByArrayId -->
	<select id="listByArrayId" parameterType="java.util.HashMap"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from t_sys_post
		<where>
			1=1
			<if test="array != null and array.length > 0">
				and id in
				<foreach item="item" index="index" collection="array"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
</mapper>