<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yt.app.api.v1.mapper.QrcodeaisleMapper">
	<!-- Base_Column_List -->
	<sql id="Base_Column_List">
		id,tenant_id,userid,name,nikname,code,status,type,qrcodecount,dynamic,remark,create_by,create_time,update_by,update_time,version
	</sql>
	<!-- ResultMap -->
	<resultMap id="ResultMap"
		type="com.yt.app.api.v1.entity.Qrcodeaisle">
	</resultMap>
	<!-- ResultMap -->
	<resultMap id="ResultMapVO"
		type="com.yt.app.api.v1.vo.QrcodeaisleVO">
	</resultMap>
	<!-- add -->
	<insert id="post"
		parameterType="com.yt.app.api.v1.entity.Qrcodeaisle">
		insert into
		qrcodeaisle(id,userid,name,nikname,code,status,type,qrcodecount,dynamic,remark,create_by,create_time,update_by,update_time)
		values
		(#{id},#{userid},#{name},#{nikname},#{code},#{status},#{type},#{qrcodecount},#{dynamic},#{remark},#{create_by},#{create_time},#{update_by},#{update_time})
	</insert>
	<!-- batchSava -->
	<insert id="batchSava" parameterType="java.util.List">
		insert into
		qrcodeaisle(id,tenant_id,name,nikname,code,status,type,qrcodecount,remark,create_by,create_time,update_by,update_time)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{id},#{tenant_id},#{name},#{nikname},#{code},#{status},#{type},#{qrcodecount},#{remark},#{create_by},#{create_time},#{update_by},#{update_time})
		</foreach>
	</insert>
	<!-- deleteById -->
	<delete id="delete" parameterType="java.lang.Long">
		delete from qrcodeaisle
		where
		id = #{id}
	</delete>
	<!-- update -->
	<update id="put"
		parameterType="com.yt.app.api.v1.entity.Qrcodeaisle">
		update qrcodeaisle
		<set>
			<if test="tenant_id != null">
				tenant_id= #{tenant_id},
			</if>
			<if test="name != null">
				name= #{name},
			</if>
			<if test="nikname != null">
				nikname= #{nikname},
			</if>
			<if test="code != null">
				code= #{code},
			</if>
			<if test="status != null">
				status= #{status},
			</if>
			<if test="type != null">
				type= #{type},
			</if>
			<if test="qrcodecount != null">
				qrcodecount= #{qrcodecount},
			</if>
			<if test="dynamic != null">
				dynamic= #{dynamic},
			</if>
			<if test="remark != null">
				remark= #{remark},
			</if>
			<if test="create_by != null">
				create_by= #{create_by},
			</if>
			<if test="create_time != null">
				create_time= #{create_time},
			</if>
			<if test="update_by != null">
				update_by= #{update_by},
			</if>
			<if test="update_time != null">
				update_time= #{update_time},
			</if>
			<if test="version != null">
				version= #{version}+1
			</if>
		</set>
		where id = #{id} 
	</update>
	<!--getById -->
	<select id="get" parameterType="java.lang.Long"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from qrcodeaisle
		where id = #{id}
	</select>
	<!--getByCode -->
	<select id="getByCode" parameterType="java.lang.Long"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from qrcodeaisle
		where code = #{code}
	</select>
	<!-- getList -->
	<select id="list" parameterType="java.util.HashMap"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from qrcodeaisle
		<where>
			1=1
			<if test="name != null and name != ''">
				and name LIKE CONCAT( '%', #{name} , '%' )
			</if>
		</where>
	</select>
	<!-- getMap -->
	<select id="page" parameterType="java.util.HashMap"
		resultMap="ResultMapVO">
		select
		<include refid="Base_Column_List" />
		from qrcodeaisle
		<where>
			1=1
			<if test="userid != null">
				and userid= #{userid}
			</if>
			<if test="status != null">
				and status= #{status}
			</if>
			<if test="code != null">
				and code= #{code}
			</if>
			<if test="name != null and name != ''">
				and name like CONCAT( '%', #{name} , '%' )
			</if>
			<if test="existids != null and existids.length > 0">
				and id not in
				<foreach item="item" index="index" collection="existids"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="orderBy != null and dir!= null">
				order by ${orderBy} ${dir}
			</if>
			<if test="pageStart != null and pageEnd != null">
				LIMIT #{pageStart},#{pageEnd}
			</if>
		</where>
	</select>
	<!-- getCount -->
	<select id="countlist" parameterType="java.util.HashMap"
		resultType="int">
		select count(*) from qrcodeaisle
		<where>
			1=1
			<if test="userid != null">
				and userid= #{userid}
			</if>
			<if test="status != null">
				and status= #{status}
			</if>
			<if test="code != null">
				and code= #{code}
			</if>
			<if test="name != null and name != ''">
				and name like CONCAT( '%', #{name} , '%' )
			</if>
			<if test="name != null and name != ''">
				and name LIKE CONCAT( '%', #{name} , '%' )
			</if>
			<if test="existids != null and existids.length > 0">
				and id not in
				<foreach item="item" index="index" collection="existids"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
	<!-- listByArrayId -->
	<select id="listByArrayId" parameterType="java.util.HashMap"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from qrcodeaisle
		<where>
			1=1
			<if test="array != null and array.length > 0">
				and id in
				<foreach item="item" index="index" collection="array"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
</mapper>