<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yt.app.api.v1.mapper.QrcodeMapper">
	<!-- Base_Column_List -->
	<sql id="Base_Column_List">
		id,tenant_id,userid,name,nkname,pid,code,status,balance,freezebalance,collection,expireminute,type,min,max,weight,mtorder,dynamic,accountsplit,smid,firstmatch,firstmatchmoney,yestodayorder,yestodayincome,todayorder,todayincome,ordersum,incomesum,appid,appprivatekey,apppublickey,alipaypublickey,alipayprovatekey,limits,todaybalance,notifyurl,payoutnotifyurl,apirest,create_by,create_time,update_by,update_time,remark,version
	</sql>
	<!-- ResultMap -->
	<resultMap id="ResultMap"
		type="com.yt.app.api.v1.entity.Qrcode">
	</resultMap>
	<!-- ResultMap -->
	<resultMap id="ResultMapVO"
		type="com.yt.app.api.v1.vo.QrcodeVO">
	</resultMap>
	<!-- add -->
	<insert id="post"
		parameterType="com.yt.app.api.v1.entity.Qrcode">
		insert into
		qrcode(id,userid,name,nkname,pid,code,status,balance,freezebalance,collection,expireminute,type,min,max,weight,mtorder,dynamic,accountsplit,smid,firstmatch,firstmatchmoney,appid,appprivatekey,apppublickey,alipaypublickey,alipayprovatekey,limits,todaybalance,notifyurl,payoutnotifyurl,apirest,create_by,create_time,update_by,update_time,remark)
		values
		(#{id},#{userid},#{name},#{nkname},#{pid},#{code},#{status},#{balance},#{freezebalance},#{collection},#{expireminute},#{type},#{min},#{max},#{weight},#{mtorder},#{dynamic},#{accountsplit},#{smid},#{firstmatch},#{firstmatchmoney},#{appid},#{appprivatekey},#{apppublickey},#{alipaypublickey},#{alipayprovatekey},#{limits},#{todaybalance},#{notifyurl},#{payoutnotifyurl},#{apirest},#{create_by},#{create_time},#{update_by},#{update_time},#{remark})
	</insert>
	<!-- batchSava -->
	<insert id="batchSava" parameterType="java.util.List">
		insert into
		qrcode(id,tenant_id,userid,name,nkname,pid,code,status,balance,expireminute,type,min,max,weight,mtorder,dynamic,smid,firstmatch,firstmatchmoney,create_by,create_time,update_by,update_time,remark)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{id},#{tenant_id},#{userid},#{name},#{nkname},#{pid},#{code},#{status},#{balance},#{expireminute},#{type},#{min},#{max},#{weight},#{mtorder},#{dynamic},#{smid},#{firstmatch},#{firstmatchmoney},#{create_by},#{create_time},#{update_by},#{update_time},#{remark})
		</foreach>
	</insert>
	<!-- deleteById -->
	<delete id="delete" parameterType="java.lang.Long">
		delete from qrcode
		where id =
		#{id}
	</delete>
	<!-- update -->
	<update id="put" parameterType="com.yt.app.api.v1.entity.Qrcode">
		update qrcode
		<set>
			<if test="tenant_id != null">
				tenant_id= #{tenant_id},
			</if>
			<if test="userid != null">
				userid= #{userid},
			</if>
			<if test="name != null">
				name= #{name},
			</if>
			<if test="nkname != null">
				nkname= #{nkname},
			</if>
			<if test="pid != null">
				pid= #{pid},
			</if>
			<if test="code != null">
				code= #{code},
			</if>
			<if test="status != null">
				status= #{status},
			</if>
			<if test="balance != null">
				balance= #{balance},
			</if>
			<if test="freezebalance != null">
				freezebalance= #{freezebalance},
			</if>
			<if test="collection != null">
				collection= #{collection},
			</if>
			<if test="expireminute != null">
				expireminute= #{expireminute},
			</if>
			<if test="type != null">
				type= #{type},
			</if>
			<if test="min != null">
				min= #{min},
			</if>
			<if test="max != null">
				max= #{max},
			</if>
			<if test="weight != null">
				weight= #{weight},
			</if>
			<if test="mtorder != null">
				mtorder= #{mtorder},
			</if>
			<if test="dynamic != null">
				dynamic= #{dynamic},
			</if>
			<if test="accountsplit != null">
				accountsplit= #{accountsplit},
			</if>
			<if test="smid != null">
				smid= #{smid},
			</if>
			<if test="firstmatch != null">
				firstmatch= #{firstmatch},
			</if>
			<if test="firstmatchmoney != null">
				firstmatchmoney= #{firstmatchmoney},
			</if>
			<if test="appid != null">
				appid= #{appid},
			</if>
			<if test="appprivatekey != null">
				appprivatekey= #{appprivatekey},
			</if>
			<if test="apppublickey != null">
				apppublickey= #{apppublickey},
			</if>
			<if test="alipaypublickey != null">
				alipaypublickey= #{alipaypublickey},
			</if>
			<if test="alipayprovatekey != null">
				alipayprovatekey= #{alipayprovatekey},
			</if>
			<if test="limits != null">
				limits= #{limits},
			</if>
			<if test="todaybalance != null">
				todaybalance= #{todaybalance},
			</if>
			<if test="todayorder != null">
				todayorder= #{todayorder},
			</if>
			<if test="todayincome != null">
				todayincome= #{todayincome},
			</if>
			<if test="incomesum != null">
				incomesum= #{incomesum},
			</if>
			<if test="ordersum != null">
				ordersum= #{ordersum},
			</if>
			<if test="notifyurl != null">
				notifyurl= #{notifyurl},
			</if>
			<if test="payoutnotifyurl != null">
				payoutnotifyurl= #{payoutnotifyurl},
			</if>
			<if test="apirest != null">
				apirest= #{apirest},
			</if>
			<if test="create_by != null">
				create_by= #{create_by},
			</if>
			<if test="create_time != null">
				create_time= #{create_time},
			</if>
			<if test="update_by != null">
				update_by= #{update_by},
			</if>
			<if test="update_time != null">
				update_time= #{update_time},
			</if>
			<if test="remark != null">
				remark= #{remark},
			</if>
			<if test="version != null">
				version= #{version}+1
			</if>
		</set>
		where id = #{id} and version= #{version}
	</update>
	<!--getById -->
	<select id="get" parameterType="java.lang.Long"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from qrcode
		where id = #{id}
	</select>
	<!--getByUserId -->
	<select id="getByUserId" parameterType="java.lang.Long"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from qrcode
		where userid = #{userid}
	</select>
	<!-- getList -->
	<select id="list" parameterType="java.util.HashMap"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from qrcode
		<where>
			1=1
			<if test="userid != null">
				and userid= #{userid}
			</if>
			<if test="status != null">
				and status= #{status}
			</if>
			<if test="code != null">
				and code= #{code}
			</if>
			<if test="type != null">
				and type= #{type}
			</if>
			<if test="existids != null and existids.length > 0">
				and id not in
				<foreach item="item" index="index" collection="existids"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="name != null and name != ''">
				and name like CONCAT( '%', #{name} , '%' )
			</if>
			<if test="orderBy != null and dir!= null">
				order by ${orderBy} ${dir}
			</if>
		</where>
	</select>
	<!-- getMap -->
	<select id="page" parameterType="java.util.HashMap"
		resultMap="ResultMapVO">
		select
		<include refid="Base_Column_List" />
		from qrcode
		<where>
			1=1
			<if test="userid != null">
				and userid= #{userid}
			</if>
			<if test="status != null">
				and status= #{status}
			</if>
			<if test="code != null">
				and code= #{code}
			</if>
			<if test="type != null">
				and type= #{type}
			</if>
			<if test="name != null and name != ''">
				and name like CONCAT( '%', #{name} , '%' )
			</if>
			<if test="existids != null and existids.length > 0">
				and id not in
				<foreach item="item" index="index" collection="existids"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="orderBy != null and dir!= null">
				order by ${orderBy} ${dir}
			</if>
			<if test="pageStart != null and pageEnd != null">
				LIMIT #{pageStart},#{pageEnd}
			</if>
		</where>
	</select>
	<!-- getCount -->
	<select id="countlist" parameterType="java.util.HashMap"
		resultType="int">
		select count(*) from qrcode
		<where>
			1=1
			<if test="userid != null">
				and userid= #{userid}
			</if>
			<if test="status != null">
				and status= #{status}
			</if>
			<if test="code != null">
				and code= #{code}
			</if>
			<if test="type != null">
				and type= #{type}
			</if>
			<if test="name != null and name != ''">
				and name like CONCAT( '%', #{name} , '%' )
			</if>
			<if test="existids != null and existids.length > 0">
				and id not in
				<foreach item="item" index="index" collection="existids"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
	<!-- listByArrayId -->
	<select id="listByArrayId" parameterType="java.util.HashMap"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from qrcode
		<where>
			1=1
			<if test="array != null and array.length > 0">
				and id in
				<foreach item="item" index="index" collection="array"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>

	<update id="updatetodayvalue"
		parameterType="com.yt.app.api.v1.entity.Qrcode">
		update qrcode
		set
		balance = #{todaybalance},
		yestodayorder = #{todayorder},
		yestodayincome=#{todayincome},
		todaybalance = 0,
		todayorder = 0,
		todayincome = 0
		where id = #{id}
	</update>
</mapper>