<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.yt.app.api.v1.mapper.SystemaccountrecordMapper">
	<!-- Base_Column_List -->
	<sql id="Base_Column_List">
		id,tenant_id,systemaccountid,name,type,pretotalincome,prewithdrawamount,posttotalincome,postwithdrawamount,amount,balance,usdtpretotalincome,usdtprewithdrawamount,usdtposttotalincome,usdtpostwithdrawamount,usdtamount,usdtbalance,update_time,update_by,create_time,create_by,remark,version
	</sql>
	<!-- ResultMap -->
	<resultMap id="ResultMap"
		type="com.yt.app.api.v1.entity.Systemaccountrecord">
	</resultMap>
	<!-- add -->
	<insert id="post"
		parameterType="com.yt.app.api.v1.entity.Systemaccountrecord">
		insert into
		systemaccountrecord(id,systemaccountid,name,type,pretotalincome,prewithdrawamount,posttotalincome,postwithdrawamount,amount,balance,usdtpretotalincome,usdtprewithdrawamount,usdtposttotalincome,usdtpostwithdrawamount,usdtamount,usdtbalance,update_time,update_by,create_time,create_by,remark)
		values
		(#{id},#{systemaccountid},#{name},#{type},#{pretotalincome},#{prewithdrawamount},#{posttotalincome},#{postwithdrawamount},#{amount},#{balance},#{usdtpretotalincome},#{usdtprewithdrawamount},#{usdtposttotalincome},#{usdtpostwithdrawamount},#{usdtamount},#{usdtbalance},#{update_time},#{update_by},#{create_time},#{create_by},#{remark})
	</insert>
	<!-- batchSava -->
	<insert id="batchSava" parameterType="java.util.List">
		insert into
		systemaccountrecord(id,tenant_id,systemaccountid,name,type,pretotalincome,prewithdrawamount,posttotalincome,postwithdrawamount,amount,update_time,update_by,create_time,create_by,remark)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{id},#{tenant_id},#{systemaccountid},#{name},#{type},#{pretotalincome},#{prewithdrawamount},#{posttotalincome},#{postwithdrawamount},#{amount},#{update_time},#{update_by},#{create_time},#{create_by},#{remark})
		</foreach>
	</insert>
	<!-- deleteById -->
	<delete id="delete" parameterType="java.lang.Long">
		delete from systemaccountrecord
		where id = #{id}
	</delete>
	<!-- update -->
	<update id="put"
		parameterType="com.yt.app.api.v1.entity.Systemaccountrecord">
		update systemaccountrecord
		<set>
			<if test="systemaccountid != null">
				systemaccountid= #{systemaccountid},
			</if>
			<if test="nkname != null">
				nkname= #{nkname},
			</if>
			<if test="name != null">
				name= #{name},
			</if>
			<if test="type != null">
				type= #{type},
			</if>
			<if test="pretotalincome != null">
				pretotalincome= #{pretotalincome},
			</if>
			<if test="prewithdrawamount != null">
				prewithdrawamount= #{prewithdrawamount},
			</if>
			<if test="posttotalincome != null">
				posttotalincome= #{posttotalincome},
			</if>
			<if test="postwithdrawamount != null">
				postwithdrawamount= #{postwithdrawamount},
			</if>
			<if test="amount != null">
				amount= #{amount},
			</if>
			<if test="update_time != null">
				update_time= #{update_time},
			</if>
			<if test="update_by != null">
				update_by= #{update_by},
			</if>
			<if test="remark != null">
				remark= #{remark},
			</if>
			<if test="version != null">
				version= #{version}+1
			</if>
		</set>
		where id = #{id} 
	</update>
	<!--getById -->
	<select id="get" parameterType="java.lang.Long"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from systemaccountrecord
		where id = #{id}
	</select>
	<!-- getList -->
	<select id="list" parameterType="java.util.HashMap"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from systemaccountrecord
		<where>
			1=1
			<if test="name != null and name != ''">
				and name like CONCAT( '%', #{name} , '%' )
			</if>
			<if test="amount != null and amount != ''">
				and amount = #{amount}
			</if>
			<if test="type != null and type != ''">
				and type = #{type}
			</if>
			<if test="orderBy != null and dir!= null">
				order by ${orderBy} ${dir}
			</if>
			<if test="pageStart != null and pageEnd != null">
				LIMIT #{pageStart},#{pageEnd}
			</if>
		</where>
	</select>
	<!-- getMap -->
	<select id="map" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		from systemaccountrecord
		<where>
			1=1
			<if test="name != null and name != ''">
				and name like CONCAT( '%', #{name} , '%' )
			</if>
			<if test="amount != null and amount != ''">
				and amount = #{amount}
			</if>
			<if test="type != null and type != ''">
				and type = #{type}
			</if>
			<if test="orderBy != null and dir!= null">
				order by ${orderBy} ${dir}
			</if>
			<if test="pageStart != null and pageEnd != null">
				LIMIT #{pageStart},#{pageEnd}
			</if>
		</where>
	</select>
	<!-- getCount -->
	<select id="countlist" parameterType="java.util.HashMap"
		resultType="int">
		select count(*) from systemaccountrecord
		<where>
			1=1
			<if test="name != null and name != ''">
				and name like CONCAT( '%', #{name} , '%' )
			</if>
			<if test="amount != null and amount != ''">
				and amount = #{amount}
			</if>
			<if test="type != null and type != ''">
				and type = #{type}
			</if>
		</where>
	</select>
	<!-- listByArrayId -->
	<select id="listByArrayId" parameterType="java.util.HashMap"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from systemaccountrecord
		<where>
			1=1
			<if test="array != null and array.length > 0">
				and id in
				<foreach item="item" index="index" collection="array"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
</mapper>