<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yt.app.api.v1.mapper.TgchannelgroupMapper">
	<!-- Base_Column_List -->
	<sql id="Base_Column_List">
		id,tenant_id,channelid,channelname,channelnkname,status,tgid,tggroupname,usdcount,todayusdcount,todaycountorder,countorder,create_by,create_time,update_by,update_time,adminmangers,customermangers,mangers,remark,version
	</sql>
	<!-- ResultMap -->
	<resultMap id="ResultMap"
		type="com.yt.app.api.v1.entity.Tgchannelgroup">
	</resultMap>
	<!-- add -->
	<insert id="post"
		parameterType="com.yt.app.api.v1.entity.Tgchannelgroup">
		insert into
		tgchannelgroup(id,channelid,channelname,channelnkname,status,tgid,tggroupname,usdcount,todayusdcount,todaycountorder,countorder,create_by,create_time,update_by,update_time,adminmangers,customermangers,mangers,remark)
		values
		(#{id},#{channelid},#{channelname},#{channelnkname},#{status},#{tgid},#{tggroupname},#{usdcount},#{todayusdcount},#{todaycountorder},#{countorder},#{create_by},#{create_time},#{update_by},#{update_time},#{adminmangers},#{customermangers},#{mangers},#{remark})
	</insert>
	<!-- batchSava -->
	<insert id="batchSava" parameterType="java.util.List">
		insert into
		tgchannelgroup(id,tenant_id,channelid,channelname,channelnkname,status,tgid,tggroupname,create_by,create_time,update_by,update_time,adminmangers,customermangers,remark)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{id},#{tenant_id},#{channelid},#{channelname},#{channelnkname},#{status},#{tgid},#{tggroupname},#{create_by},#{create_time},#{update_by},#{update_time},#{adminmangers},#{customermangers},#{remark})
		</foreach>
	</insert>
	<!-- deleteById -->
	<delete id="delete" parameterType="java.lang.Long">
		delete from tgchannelgroup
		where id = #{id}
	</delete>
	<!-- update -->
	<update id="put"
		parameterType="com.yt.app.api.v1.entity.Tgchannelgroup">
		update tgchannelgroup
		<set>
			<if test="tenant_id != null">
				tenant_id= #{tenant_id},
			</if>
			<if test="channelid != null">
				channelid= #{channelid},
			</if>
			<if test="channelname != null">
				channelname= #{channelname},
			</if>
			<if test="channelnkname != null">
				channelnkname= #{channelnkname},
			</if>
			<if test="status != null">
				status= #{status},
			</if>
			<if test="tgid != null">
				tgid= #{tgid},
			</if>
			<if test="tggroupname != null">
				tggroupname= #{tggroupname},
			</if>
			<if test="usdcount != null">
				usdcount= #{usdcount},
			</if>
			<if test="todaycountorder != null">
				todaycountorder= #{todaycountorder},
			</if>
			<if test="todayusdcount != null">
				todayusdcount= #{todayusdcount},
			</if>
			<if test="countorder != null">
				countorder= #{countorder},
			</if>
			<if test="create_by != null">
				create_by= #{create_by},
			</if>
			<if test="create_time != null">
				create_time= #{create_time},
			</if>
			<if test="update_by != null">
				update_by= #{update_by},
			</if>
			<if test="update_time != null">
				update_time= #{update_time},
			</if>
			<if test="adminmangers != null">
				adminmangers= #{adminmangers},
			</if>
			<if test="customermangers != null">
				customermangers= #{customermangers},
			</if>
			<if test="mangers != null">
				mangers= #{mangers},
			</if>
			<if test="remark != null">
				remark= #{remark},
			</if>
			<if test="version != null">
				version= #{version}+1
			</if>
		</set>
		where id = #{id}
	</update>


	<update id="updatetodayvalue" parameterType="java.lang.Long">
		update
		tgchannelgroup
		set todaycountorder = 0,todayusdcount = 0
		where id =
		#{id}
	</update>

	<update id="updatechannelid" parameterType="java.lang.Long">
		update
		tgchannelgroup
		set channelid = null,channelname = null
		where channelid = #{id}
	</update>

	<!--getById -->
	<select id="get" parameterType="java.lang.Long"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from tgchannelgroup
		where id = #{id}
	</select>
	<!--getById -->
	<select id="getByTgGroupName" parameterType="java.lang.String"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from tgchannelgroup
		where tggroupname= #{tggroupname}
	</select>
	<!--getById -->
	<select id="getByTgGroupId" parameterType="java.lang.Long"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from tgchannelgroup
		where tgid= #{tgid}
	</select>

	<!--getById -->
	<select id="getByChannelId" parameterType="java.lang.Long"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from tgchannelgroup
		where channelid= #{channelid}
	</select>

	<!-- getList -->
	<select id="list" parameterType="java.util.HashMap"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from tgchannelgroup
		<where>
			1=1
			<if test="name != null and name != ''">
				and name like "%"#{name}"%"
			</if>
			<if test="orderBy != null and dir!= null">
				order by ${orderBy} ${dir}
			</if>
			<if test="pageStart != null and pageEnd != null">
				LIMIT #{pageStart},#{pageEnd}
			</if>
		</where>
	</select>
	<!-- getMap -->
	<select id="map" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		from tgchannelgroup
		<where>
			1=1
			<if test="name != null and name != ''">
				and name like "%"#{name}"%"
			</if>
			<if test="orderBy != null and dir!= null">
				order by ${orderBy} ${dir}
			</if>
			<if test="pageStart != null and pageEnd != null">
				LIMIT #{pageStart},#{pageEnd}
			</if>
		</where>
	</select>
	<!-- getCount -->
	<select id="countlist" parameterType="java.util.HashMap"
		resultType="int">
		select count(*) from tgchannelgroup
		<where>
			1=1
			<if test="name != null and name != ''">
				and name like "%"#{name}"%"
			</if>
		</where>
	</select>
	<!-- listByArrayId -->
	<select id="listByArrayId" parameterType="java.util.HashMap"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from tgchannelgroup
		<where>
			1=1
			<if test="array != null and array.length > 0">
				and id in
				<foreach item="item" index="index" collection="array"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
</mapper>