<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.yt.app.api.v1.mapper.TgmessagegrouprecordMapper">
	<!-- Base_Column_List -->
	<sql id="Base_Column_List">
		id,mid,cid,chatid,mmanger,cmanger,mreplyid,creplyid,name,qrcode,exchange,amount,usd,status,optionname,confirmname,remark,create_by,create_time,update_by,update_time,version
	</sql>
	<!-- ResultMap -->
	<resultMap id="ResultMap"
		type="com.yt.app.api.v1.entity.Tgmessagegrouprecord">
	</resultMap>
	<!-- ResultMap -->
	<resultMap id="ResultMapVO"
		type="com.yt.app.api.v1.vo.TgmessagegrouprecordVO">
	</resultMap>
	<!-- add -->
	<insert id="post"
		parameterType="com.yt.app.api.v1.entity.Tgmessagegrouprecord">
		insert into
		tgmessagegrouprecord(id,mid,cid,chatid,mmanger,cmanger,mreplyid,creplyid,name,qrcode,exchange,amount,usd,status,optionname,confirmname,remark,create_by,create_time,update_by,update_time)
		values
		(#{id},#{mid},#{cid},#{chatid},#{mmanger},#{cmanger},#{mreplyid},#{creplyid},#{name},#{qrcode},#{exchange},#{amount},#{usd},#{status},#{optionname},#{confirmname},#{remark},#{create_by},#{create_time},#{update_by},#{update_time})
	</insert>
	<!-- batchSava -->
	<insert id="batchSava" parameterType="java.util.List">
		insert into
		tgmessagegrouprecord(id,mid,cid,chatid,mmanger,cmanger,mreplyid,creplyid,name,qrcode,exchange,amount,usd,status,optionname,confirmname,remark,create_by,create_time,update_by,update_time)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{id},#{mid},#{cid},#{chatid},#{mmanger},#{cmanger},#{mreplyid},#{creplyid},#{name},#{qrcode},#{exchange},#{amount},#{usd},#{status},#{optionname},#{confirmname},#{remark},#{create_by},#{create_time},#{update_by},#{update_time})
		</foreach>
	</insert>
	<!-- delById -->
	<delete id="delById" parameterType="java.lang.Long">
		delete from
		tgmessagegrouprecord
		where id = #{id}
	</delete>
	<!-- update -->
	<update id="put"
		parameterType="com.yt.app.api.v1.entity.Tgmessagegrouprecord">
		update tgmessagegrouprecord
		<set>
			<if test="mid != null">
				mid= #{mid},
			</if>
			<if test="cid != null">
				cid= #{cid},
			</if>
			<if test="chatid != null">
				chatid= #{chatid},
			</if>
			<if test="mmanger != null">
				mmanger= #{mmanger},
			</if>
			<if test="cmanger != null">
				cmanger= #{cmanger},
			</if>
			<if test="mreplyid != null">
				mreplyid= #{mreplyid},
			</if>
			<if test="creplyid != null">
				creplyid= #{creplyid},
			</if>
			<if test="name != null">
				name= #{name},
			</if>
			<if test="qrcode != null">
				qrcode= #{qrcode},
			</if>
			<if test="exchange != null">
				exchange= #{exchange},
			</if>
			<if test="amount != null">
				amount= #{amount},
			</if>
			<if test="usd != null">
				usd= #{usd},
			</if>
			<if test="status != null">
				status= #{status},
			</if>
			<if test="optionname != null">
				optionname= #{optionname},
			</if>
			<if test="confirmname != null">
				confirmname= #{confirmname},
			</if>
			<if test="remark != null">
				remark= #{remark},
			</if>
			<if test="create_by != null">
				create_by= #{create_by},
			</if>
			<if test="create_time != null">
				create_time= #{create_time},
			</if>
			<if test="update_by != null">
				update_by= #{update_by},
			</if>
			<if test="update_time != null">
				update_time= #{update_time},
			</if>
			<if test="version != null">
				version= #{version}+1
			</if>
		</set>
		where id = #{id} and version = #{version}
	</update>
	<!--getById -->
	<select id="get" parameterType="java.lang.Long"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from tgmessagegrouprecord
		where id = #{id}
	</select>
	<!-- getList -->
	<select id="list" parameterType="java.util.HashMap"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from tgmessagegrouprecord
		<where>
			1=1
			<if test="name != null and name != ''">
				AND name LIKE CONCAT( '%', #{name} , '%' )
			</if>
		</where>
	</select>
	<!-- getMap -->
	<select id="page" parameterType="java.util.HashMap"
		resultMap="ResultMapVO">
		select
		<include refid="Base_Column_List" />
		from tgmessagegrouprecord
		<where>
			1=1
			<if test="name != null and name != ''">
				AND name LIKE CONCAT( '%', #{name} , '%' )
			</if>
			<if test="orderBy != null and dir != null">
				order by ${orderBy} ${dir}
			</if>
			<if test="pageStart != null and pageEnd != null">
				LIMIT #{pageStart},#{pageEnd}
			</if>
		</where>
	</select>
	<!-- getCount -->
	<select id="countlist" parameterType="java.util.HashMap"
		resultType="int">
		select count(*) from tgmessagegrouprecord
		<where>
			1=1
			<if test="name != null and name != ''">
				AND name LIKE CONCAT( '%', #{name} , '%' )
			</if>
		</where>
	</select>

	<!--getCidReplyid -->
	<select id="getCidReplyid" resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from tgmessagegrouprecord
		where cid = #{cid} and creplyid = #{creplyid}
	</select>
	
	<!--getMidReplyid -->
	<select id="getMidReplyid" resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from tgmessagegrouprecord
		where mid = #{mid} and mreplyid = #{mreplyid}
	</select>

	<!-- listByArrayId -->
	<select id="listByArrayId" parameterType="java.util.HashMap"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from tgmessagegrouprecord
		<where>
			1=1
			<if test="array != null and array.length > 0">
				and id in
				<foreach item="item" index="index" collection="array"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
</mapper>