<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property scope="context" name="USER_HOME" value="c://logpay" />
	<property scope="context" name="FILE_NAME" value="pay" />
	<timestamp key="Day" datePattern="yyyy-MM-dd" />

	<appender name="Console"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%msg%n</pattern>
			<charset>utf-8</charset>
		</encoder>
	</appender>

	<appender name="File"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${USER_HOME}/${FILE_NAME}.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${USER_HOME}/${Day}/${FILE_NAME}-${byDay}-%i.log.zip
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>20</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>20MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%-4relative %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level%logger{35} - %msg%n</pattern>
			<charset>utf-8</charset>
		</encoder>
	</appender>

	<appender name="FileError"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${USER_HOME}/${FILE_NAME}-error.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${USER_HOME}/${Day}/${FILE_NAME}-${byDay}-%i.log.zip
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>20</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>20MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%-4relative %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level%logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="ASYNC-FILE"
		class="ch.qos.logback.classic.AsyncAppender">
		<discardingThreshold>0</discardingThreshold>
		<queueSize>512</queueSize>
		<appender-ref ref="File" />
		<includeCallerData>true</includeCallerData>
	</appender>

	<logger name="com.yt.app" level="info"></logger>

	<logger name="org.bitcoinj.crypto.MnemonicCode" level="error"></logger>

	<root level="info"><!-- debug error -->
		<appender-ref ref="ASYNC-FILE" />
	</root>

	<root level="info"><!-- debug error -->
		<appender-ref ref="Console" />
	</root>
</configuration>